<br>
<div class="carousel-container">
  <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="https://d2r9epyceweg5n.cloudfront.net/stores/001/374/566/rte/oversize%20hombre%20camiseta%20cuello%20rib%20comprar%20en%20onlineshoppingcenterg%20Colombia%20centro%20de%20compras%20en%20linea.png" alt="...">
          </div>
          <div class="carousel-item">
              <img src="https://hips.hearstapps.com/hmg-prod/images/camiseta-serigrafiada-de-cos-x-coco-capita-n-409-euros-1627558975.png" alt="...">
          </div>
          <div class="carousel-item">
              <img src="https://acdn.mitiendanube.com/stores/004/433/715/products/remera-lisa-negra-delantera-f835ede74f2e3fe01617112844171033-1024-1024.png" alt="...">
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">𝙉𝙀𝙓𝙏</span>
      </button>
  </div>
</div>
